.date-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.date-container h2 {
  margin: 0px;
  padding: 0px;
}
.date-container .day {
  font-size: 30px;
  font-weight: 600;
  font-family: monospace, sans-serif;
}

.date-container .month {
  font-family: sans-serif, monospace;
}
